.block {
    /*background-color: cadetblue;*/
    border: 1px solid black;
    width: 300px;
    margin: auto;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: cornsilk;
    margin-bottom: 8px;
}

selector {
	background-color: violet;
}