body {
    font-size: 1.5rem;
}

thead {
    background-color: antiquewhite;
}

#list td:nth-child(2) {
    font-weight: bold;
}

#list td:nth-child(5) {
    font-weight: bold;
    color: darkviolet;
}

#list tr:nth-child(2n) {
    background-color: #f0f0f0;
}
